.card {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
}

@media screen and (max-width: 900px) {
    .card {
        display: block;
        position: initial;
        transform: translate(0, 0);
        width: 100%;
        height: 100%;
        background-color: rgb(238,245,255);
        padding: 0;
        border-radius: 0px;
    }

    .sidebar {
        width: 100%;
        height: 172px;
        background: url("../../assets/images/bg-sidebar-mobile.svg") no-repeat;
        background-size: cover;
        flex-direction: row;
        justify-content: center;
        border-radius: 0;
        padding: 0;
    }

    .main {
        width: 90%;
        margin: 0 auto;
        position: absolute;
        top: -100px;
        height: 600px;
        padding: 10px;
        position: relative;
        background-color: white;
        border-radius: 10px;
    }

    .step {
        align-items: flex-start;
    }
    
    .step .text-wrap {
        display: none;
    }

    .checkbox {
        padding: 10px;
    }

    .checkbox input {
        margin-right: 10px;
        margin-left: 0;
    }

    .price {
        right: 20px;
        font-size: 0.8em;
    }

    .next {
        right: 20px;
    }

    

}